body {
  background-color: #fffafa;
  font-family: 'Libre Baskerville', serif;
}

h1 {
  color: #cd5c5c;
  font-size: 50px;
  text-shadow: 1px 1px rgb(194, 194, 194);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
